{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width">
  {% block css %}

  {% endblock %}
  <title>{% block title %}{% trans "Awesome entries" %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'uikit/dist/css/uikit.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
  <nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
    <div class="uk-navbar-left">
      <a href="{% url 'home' %}" class="uk-navbar-item uk-logo">{% trans "Entries" %}</a>

      <ul class="uk-navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'create_entry' %}">{% trans "New entry" %}</a></li>
        {% endif %}
      </ul>
    </div>

    <div class="uk-navbar-center">
      <div class="uk-navbar-item">
        <form action="javascript:void(0)">
          <input class="uk-input" type="text" placeholder="Input">
          <button class="uk-button uk-button-primary">{% trans "Search" %}</button>
        </form>
      </div>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
      {% if user.is_authenticated %}
        <li><a href="">{% trans "Logout" %}</a></li>
      {% else %}
        <li><a href="{% url "social:begin" "authsch" %}">{% trans "Login" %}</a></li>
      {% endif %}
      </ul>
    </div>

  </nav>

  <div class="uk-container uk-width-5-6@s uk-width-4-5@s uk-width-4-5@l">

    {% block content %}
    {% endblock %}

  </div>

  <div class="uk-section uk-margin uk-section-secondary uk-light">
    <p class="uk-align-center"> 2016 KSZK DevTeam</p>
  </div>

  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'uikit/dist/js/uikit.min.js' %}"></script>
  <script src="{% static 'uikit/dist/js/uikit-icons.min.js' %}"></script>
  {% block script %}
  {% endblock %}
</body>
</html>
