{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block css %}

{% endblock %}
    <title>{% block title %}Awsome entries{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'uikit/css/uikit.almost-flat.min.css' %}"/>
</head>
<body>



<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="{% url 'home' %}" class="uk-navbar-brand">Free Entries</a>
        <li><a href="{% url 'home' %}">Home</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'create_entry' %}">New entry</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>

{% if user.is_authenticated %}
    <div class="uk-alert uk-alert-success"><p>Hello, {{ user }}!</p></div>

{% endif %}

{% block content %}

{% endblock %}


    <script src="{% static 'jquery/dist/jquery.min.js' %}" />
    <script src="{% static 'uikit/js/ukit.min.js' %}" />
</body>
</html>
