{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="uk-card uk-card-default uk-card-body">
  <form class="uk-form-stacked" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="uk-fieldset">

      <div class="uk-margin">
        <input class="uk-input" placeholder="{{ form.title.label }}" name="{{ form.title.html_name}}">
      </div>

      <div class="uk-margin">
        <textarea id="markdown-editor" class="uk-textarea" name="{{ form.description.html_name }}"></textarea>
      </div>

      <div class="uk-margin">
        <input class="uk-input" placeholder="{{ form.url.label }}" name="{{ form.url.html_name }}">
      </div>

      <div class="uk-margin">
        <label>{{ form.in_dorm.label }} <input class="uk-checkbox" type="checkbox" name="{{ form.in_dorm.html_name }}"></label>
      </div>

      <div class="uk-margin">
        <div uk-form-custom>
          <input type="file" name="{{ form.logo.html_name }}">
          <button class="uk-button uk-button-default" type="button" tabindex="-1">{% trans 'Select' %}</button>
        </div>
      </div>

      <input class="uk-button uk-button-primary uk-margin-top uk-align-right" type="submit" value="{% trans "Submit" %}">
    </fieldset>
  </form>
</div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'simplemde/dist/simplemde.min.css' %}"/>
{% endblock %}

{% block script %}
<script src="{% static 'simplemde/dist/simplemde.min.js' %}"></script>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
</script>
{% endblock %}
