{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Free Entries" %}
{% endblock %}

{% block content %}

<div class="uk-width-1-3 uk-align-center uk-button-group uk-margin-bottom" data-uk-button-radio>
  {% if indorm %}
    <a href="{% url 'home' %}" class="uk-button">{% trans "All" %}</a>
    <a href="{% url 'indorm' %}" class="uk-active uk-button">{% trans "In Dormitory" %}</a>
  {% else %}
    <a href="{% url 'home' %}" class="uk-active uk-button">{% trans "All" %}</a>
    <a href="{% url 'indorm' %}" class="uk-button">{% trans "In Dormitory" %}</a>
  {% endif %}
</div>

{% for entry in entries %}
{% if entry.approved %}
<div class="uk-panel uk-panel-box uk-margin-bottom">
  <div class="uk-grid">
    {% if entry.logo %}
    <div class="uk-width-1-3">
      <a class="uk-thumbnail uk-thumbnail-small uk-align-left" href="{{ entry.url }}">
        <img src="{{ entry.logo.url }}" alt="">
      </a>
    </div>
    {% endif %}
    <div class="uk-width-2-3">
      <a class="uk-h3" href="{{ entry.url }}">{{entry.title}}</a>

      <p class="description">
      {{ entry.rendered_content|safe }}
      </p>
    </div>
  </div>
</div>
{% endif %}
{% empty %}
{% trans "No entries." %}
{% endfor %}

{% endblock %}
