<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    {% if entry.logo %}
    <div class="uk-card-media-left uk-cover-container">
      <img src="{{ entry.logo.url }}" alt="" uk-cover>
       <canvas width="600" height="400"></canvas>
    </div>
    {% endif %}
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        {{ entry.rendered_content|safe }}
      </div>
    </div>
</div>
